/* Theme Styles */
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --theme-color-pink: #efd1d1;
  --theme-color-green: #2a4a2b;
  --font: "Montagu Slab", serif;
  --font-body: "Montserrat Alternates", sans-serif;
}
/* Nav Bar */
.header {
  width: 100vw;
  height: 100px;
  background-color: var(--theme-color-green);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-family: var(--font);
  position: sticky;
  z-index: 15;
  top: 0;
}
.headerLogo {
  width: 15rem;
  height: 5rem;
  background-image: url(../media/StudenSnacksLogo.svg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.headerLogo:hover {
  transform: scale(1.1);
}
.hamburger {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 5rem;
  height: 5rem;
  margin-left: auto;
  gap: 0.5rem;
  z-index: 11;
}
.searchicon {
  width: 33px;
  height: 33px;
}
#search {
  width: 50px;
  height: 35px;
}
.menuA a {
  min-width: 70px;
}
.menuA:hover {
  transform: scale(1.1);
}
.menu {
  width: 100%;
  height: 100%;
  gap: 6rem;
  font-size: 3rem;
  position: relative;
  color: var(--theme-color-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 99;
}
.ham-bar {
  display: block;
  width: 2.7rem;
  height: 0.2rem;
  background-color: white;
}
.ham-bar:nth-of-type(2) {
  width: 1.5rem;
}
.ham-bar .bar-mid {
  width: 2rem;
}
.hamburger.active .bar-top {
  transform: rotate(45deg) translateY(3px) translateX(5px);
  width: 2.7rem;
}
.hamburger.active .bar-bottom {
  transform: rotate(-45deg) translateY(-10px) translateX(12px);
  width: 2.7rem;
}
.hamburger.active .bar-mid {
  opacity: 0;
  width: 2rem;
}
li {
  width: 125px;
  text-align: center;
}
.navbar {
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 0%;
  background-color: var(--theme-color-green);
  z-index: 1;
}
.activenav {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  z-index: 10;
  transition: 0.3s;
}
.activenav .menu {
  width: 100%;
  height: 80%;
  position: fixed;
  opacity: 1;
  z-index: 99;
  transition: 0.3s;
}
nav {
  z-index: 99;
}

@media only screen and (min-width: 1000px) {
  .header {
    width: 100%;
    height: 85px;
    background-color: var(--theme-color-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .headerLogo {
    width: 17rem;
    height: 5rem;
    background-image: url(../media/StudenSnacksLogo.svg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: auto;
  }
  .hamburger {
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 5rem;
    height: 5rem;
    margin-left: auto;
    gap: 0.3rem;
  }
  .menu {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 1;
    gap: 5rem;
    margin-left: auto;
    transition: none;
  }
  .ham-bar {
    display: block;
    width: 2.7rem;
    height: 0.2rem;
    background-color: white;
  }
  .hamburger.active .bar-top {
    transform: rotate(45deg) translateY(2px) translateX(5px);
    width: 2.7rem;
  }
  .hamburger.active .bar-bottom {
    transform: rotate(-45deg) translateY(-2px) translateX(5px);
    width: 2.7rem;
  }
  .hamburger.active .bar-mid {
    opacity: 0;
    width: 2rem;
  }
  .navbar {
    position: relative;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    transition: none;
  }
  .activenav {
    z-index: 2;
    width: 100%;
  }
}
/* Hero */
.hero {
  width: 100%;
  height: 90vh;
  position: relative;
}
.heroimage {
  background-image: url("../media/eggbrodsandwich.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}
.herotext {
  position: absolute;
  z-index: 1;
  left: 1rem;
  bottom: -5%;
  width: 23rem;
  height: 23rem;
}
.hero-information {
  position: absolute;
  font-family: var(--font);
  background-color: var(--theme-color-green);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 175px;
  align-items: center;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
}
.hero-information h2 {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  color: #fdc5c5;
}
.hero-information p {
  padding: 1rem;
  font-size: 1.1rem;
  color: #ffe3e3;
}
/* Slider */
.btn {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  bottom: 40%;
  background-color: rgba(255, 255, 255, 0.588);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrowleft {
  rotate: 180deg;
}
#prev-btn {
  z-index: 5;
  left: 0;
}
#next-btn {
  z-index: 5;
  right: 0;
}
.box {
  width: 100%;
  height: 100%;
}
.imageel {
  width: 350px;
  height: 350px;
}
.slider-wrapper {
  background-color: #ededed;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.slide-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider-header {
  color: rgb(136, 136, 136);
  position: absolute;
  right: 20px;
  top: 2px;
  font-family: var(--font-body);
  font-weight: bold;
  font-size: 1.4rem;
}
.slider {
  width: 30;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
}
.box {
  flex: 1 0 34%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: var(--font);
}
.recipe-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.recipe-main {
  font-size: 1.3rem;
  color: var(--theme-color-green);
}
.imageel {
  border-radius: 100%;
  background-position: center;
  background-size: fill;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageel-sides {
  border-radius: 100%;
  background-position: center;
  background-size: fill;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(2px);
}
.excerpt-container {
  position: absolute;
  bottom: 10%;
  width: 350px;
  height: 100px;
  padding: 8px;
  background-color: var(--theme-color-pink);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.excerpt-container p {
  font-size: 0.8rem;
}

/* Footer */
footer {
  width: 100%;
  height: 85px;
  background-color: var(--theme-color-green);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
}
.socials {
  width: 30%;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: white;
}

/* Loader */
.loader {
  width: 250px;
  height: 200px;
  animation: toColor 5s linear infinite;
}

#loader-recipes {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes toColor {
  0% {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
  25% {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
  }
  50% {
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
  75% {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
  }
  100% {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
}

#loader {
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
#loaderFullPage {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader.show {
  display: flex;
  flex-direction: column;
}

#loader.hide {
  display: none;
}
/* Recipes Page */
.recipes-page-container {
  width: 100%;
  height: 100%;
}
#recipes-main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 4rem;
  max-width: 100vw;
  padding: 4rem;
}

.image_wrapper {
  max-width: 100%;
  max-height: 100%;
}
.imageel {
  width: 350px;
  height: 350px;
}
.imageel-sides {
  width: 250px;
  height: 250px;
}
.title-container {
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: var(--theme-color-pink);
  width: 80%;
  bottom: 0;
  height: 70px;
  padding: 10px;
  font-family: var(--font);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.recipes-main {
  font-size: 1.3rem;
  color: var(--theme-color-green);
  width: 100%;
  height: 100%;
}
.box-recipes {
  max-width: 350px;
  position: relative;
  display: flex;
  justify-content: center;
}
.time {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--theme-color-green);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-color-pink);
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
  font-size: 1.02rem;
}
.filter-pagination {
  background-color: #ededed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 1rem;
  color: var(--theme-color-green);
}
.page-controls {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filter-button {
  width: 150px;
  height: 40px;
  background-color: var(--theme-color-green);
  color: var(--theme-color-pink);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.dropdown {
  width: fit-content;
  height: 100%;
  border-radius: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}
.dropdown-content a {
  color: var(--theme-color-green);
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  font-size: 12px;
}
.dropdown-content a:hover {
  background-color: var(--theme-color-green);
  color: white;
}
.dropdown-content a:active {
  background-color: var(--theme-color-green);
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.loadmore-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
  max-width: 100vw;
  padding: 4rem;
  padding-top: 0rem;
  flex-wrap: wrap;
  background-color: #ededed;
}
.loadmore-button {
  width: 200px;
  height: 60px;
  background-color: var(--theme-color-green);
  color: var(--theme-color-pink);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* About Page */
.pattern-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signature {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signature-element {
  width: 100%;
  height: 100%;
}
.signature-logo-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.logo-green {
  width: 300px;
  height: 250px;
}
.logo-green-element {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.creator-image {
  margin-top: 1rem;
  width: 300px;
  height: 300px;
}
.creator-image-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  border-radius: 100%;
  border: 4px solid var(--theme-color-pink);
}
.about-container {
  font-family: var(--font);
  color: var(--theme-color-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 3rem;
}
.about-header {
  font-size: 2rem;
  margin-top: 2rem;
}
.about-text {
  font-size: 1.3rem;
  max-width: 60ch;
}
@media only screen and (max-width: 900px) {
  .about-container {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .creator-image {
    width: 200px;
    height: 200px;
  }
  .signature {
    width: 150px;
    height: 100px;
  }
  .logo-green {
    width: 150px;
    height: 100px;
  }
  .about-container {
    width: 90%;
  }
  .about-header {
    font-size: 1.5rem;
  }
  .about-text {
    font-size: 1rem;
  }
}
/* Specific Page */
.shell {
  width: 100%;
  height: 100%;
}
.spec-img-el {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.specific-image {
  position: relative;
  width: 100%;
  height: 300px;
  z-index: 1;
}
/* @media only screen and (max-width: 500px) {
  .title-specific {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.2rem;
    font-size: 1rem;
    line-height: 41px;
    z-index: 3;
  }
  .timespecific {
    width: 70px;
    height: 70px;
    background-color: var(--theme-color-green);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
} */

.title-specific {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  font: var(--font);
  font-weight: 600;
  color: var(--theme-color-green);
  font-size: clamp(1rem, 2.5vw, 1.6rem);
  line-height: 41px;
  font-style: normal;
  z-index: 3;
  bottom: 20px;
  left: 40px;
  background-color: #edededd4;
  border-radius: 20px;
  padding: 1rem;
}
.title-ingredients {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.ingredienser {
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--theme-color-pink);
  gap: 10px;
  font-family: var(--font-body);
  padding: 1.2rem;
  list-style: circle;
}
.ingredienser li:nth-of-type(1) {
  font-weight: 600;
}
.ingredienser li {
  text-align: start;
  width: 100%;
}
li {
  width: 100%;
  font-family: var(--font);
}
.ingredients {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 1rem;
}
.timespecific {
  width: 70px;
  height: 70px;
  background-color: var(--theme-color-green);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeToMake {
  color: var(--theme-color-pink);
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
  font-size: 1.02rem;
}
.title-ingredients-wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  z-index: 2;
}
.tilberedning li {
  padding: 0.5rem;
}
.tips-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingred-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.filter-specific {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  opacity: 0.5;
}
.container {
  position: relative;
  width: 100%;
  height: 300px;
}
.wrapper-recipe {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}
.preparation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-family: var(--font-body);
  padding: 1rem;
  list-style: decimal;
}
.tilberedning {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hidden {
  display: none;
}
.preparation {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.accessories {
  min-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--theme-color-pink);
  font-family: var(--font-body);
  list-style: circle;
  margin: 1rem;
}
.tilbehor li {
  text-align: start;
  width: 100%;
}
.tilbehor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1.2rem;
  padding-top: 0;
}
.accessories h4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1.4rem;
  padding-left: 1rem;
}
.preparation-tips {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 100%;
  font-family: var(--font);
}
.tips {
  font-family: var(--font-body);
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 300;
}
h4 {
  font-weight: 600;
}
.commentsection {
  width: 100%;
  height: fit-content;
}
.ingredients-accessories {
  height: 100%;
  min-width: 300px;
}
/* Image Modal - Specific Page */
.filter-specific {
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.752);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 23;
}
.modal-img {
  align-self: center;
  justify-self: center;
  width: 50%;
  height: auto;
}
.closeModal:hover {
  cursor: pointer;
  opacity: 0.7;
}
.closeModal {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 1.5rem;
  border: 3px solid white;
  border-radius: 100%;
  display: flex;
}
#cross {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100%;
  z-index: 5;
}
/* Specific page MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
  .hero-information {
    display: none;
  }
  .wrapper-recipe {
    flex-direction: column;
  }
  .ingredients-accessories {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-img {
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: auto;
  }
  .closeModal:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  .modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.752);
    display: none;
    flex-direction: column-reverse;
    gap: 5rem;
    z-index: 23;
  }
  .closeModal {
    width: 40px;
    height: 40px;
    position: static;
    font-size: 1.5rem;
    border: 3px solid white;
    border-radius: 100%;
    display: flex;
  }
  #cross {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}
@media only screen and (max-width: 450px) {
  .herotext {
    position: absolute;
    z-index: 1;
    left: 2rem;
    bottom: -4%;
    width: 19rem;
    height: 19rem;
  }
}
@media only screen and (max-width: 350px) {
  .herotext {
    position: absolute;
    z-index: 1;
    left: 2rem;
    bottom: -4%;
    width: 14rem;
    height: 14rem;
  }
  .imageel {
    width: 250px;
    height: 250px;
  }
  .imageel-sides {
    width: 150px;
    height: 150px;
  }
  .recipe-container {
    margin-top: 4rem;
    display: inline-block;
  }
  .excerpt-container {
    top: 200px;
    max-width: 100%;
  }
  .recipe-main {
    font-size: 1.1rem;
  }
  .excerpt-container p {
    font-size: 0.7rem;
  }
  .btn {
    bottom: 200px;
    height: 70px;
    width: 70px;
  }
  .slider-header {
    left: 40px;
  }
  .slider-wrapper {
    height: 360px;
  }
  .slide-container {
    height: 100%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 700px) {
  .wrapper-recipe {
    flex-direction: column;
  }
  .ingredients-accessories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal-img {
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: auto;
  }
  .modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.752);
    display: none;
    flex-direction: column-reverse;
    gap: 5rem;
    z-index: 23;
  }
  .closeModal {
    width: 40px;
    height: 40px;
    position: static;
    font-size: 1.5rem;
    border: 3px solid white;
    border-radius: 100%;
    display: flex;
  }
  #cross {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}
/* Contact */
.contact-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.contact-container {
  height: 100%;
  width: 60%;
}
.contactForm {
  font-family: var(--font);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
span {
  font-size: 1rem;
}
input {
  width: 100%;
  height: 2.4rem;
  font-family: var(--font);
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 1px 1px 1px #0000008a;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: 2px solid var(--theme-color-green);
}
.successMsg {
  transition: 0.3s;
  border-radius: 30px;
  border: 2px solid var(--theme-color-green);
  width: 40%;
  height: 100%;
  font-size: 1.5rem;
  font-family: var(--font);
  color: var(--theme-color-green);
  display: flex;
  flex-direction: column;
}
.successMsgHeader {
  background-color: var(--theme-color-pink);
  padding: 2rem;
  font-size: 1.7rem;
  height: 20%;
  color: var(--theme-color-green);
  border-radius: 30px 30px 0px 0px;
  border-bottom: 2px solid var(--theme-color-green);
}
.successMsgText {
  align-self: center;
  padding: 2rem;
  font-size: 1.2rem;
  height: 80%;
  color: rgba(0, 0, 0, 0.752);
}
#nameFeedback {
  width: 100%;
}
#phoneFeedback {
  width: 100%;
}
#emailFeedback {
  width: 100%;
}
#subjectFeedback {
  width: 100%;
}
#messageFeedback {
  width: 100%;
}
#messageTextArea {
  font-family: var(--font);
  border: none;
  border-radius: 10px;
  resize: none;
  width: 100%;
  height: 200px;
  font-size: 1rem;
  box-shadow: 1px 1px 1px #0000008a;
}
#formButton {
  cursor: pointer;
  font-family: var(--font);
  font-size: 1.2rem;
  width: 174px;
  height: 60px;
  background-color: var(--theme-color-green);
  color: var(--theme-color-pink);
  border-radius: 20px;
  margin-top: 4rem;
  border: none;
  right: 0;
  position: absolute;
}
.contact-header {
  color: var(--theme-color-green);
  font-size: 2.4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}
.form-ending {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 4rem;
}
.button-feedback-wrap {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.feedbackInput {
  width: 100%;
  height: 250px;
  text-align: left;
}
.hide {
  display: none;
}
.show {
  display: flex;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media only screen and (max-width: 1000px) {
  .form-ending {
    height: 200px;
  }
  .contact-main {
    flex-direction: column;
  }
  .image-container {
    width: 100%;
    flex-direction: row;
  }
  .contact-container {
    width: 100%;
    height: 100%;
  }
  .successMsg {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .image-container {
    display: none;
  }
  .successMsg {
    width: 100%;
  }
}
